{% extends "layout.html" %}


{% block titlebar %}
<h1> {{heading}}</h1>
{% endblock titlebar %}


{% block main %}
<div class="p-3">
    <div class="card">
        <div class="card-header">
            Reference
        </div>
        <div class="card-body">
            <samp>
                <p>
                    - https://colab.research.google.com/drive/1RtTYonaJ7ASX_ZMzcV3t_0jNktheKQF9?usp=sharing <br>
                    - https://learnopencv.com/introduction-to-video-classification-and-human-activity-recognition <br>
                    - https://bleedai.com/human-activity-recognition-using-tensorflow-cnn-lstm<br>
                    - https://flask.palletsprojects.com/en/1.1.x/patterns/fileuploads/
                </p>
            </samp>
        </div>
    </div>
    <hr/>
    <h2> Using ConvLSTM </h2>
    <hr/>
    <div class="card">
        <div class="card-header">
            Architecture
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    <figure>
                        <img src="/static/convlstm_arch.png" class="img-fluid" alt="Responsive image">
                    </figure>
                </div>
                <div class="col-sm">
                    <figure>
                        <img src="/static/convlstm_imgarch.png" class="img-fluid" alt="Responsive image">
                    </figure>
                </div>
                <div class="col-sm">
                    <figure>
                        <img src="/static/convlstm_inside.png" class="img-fluid" alt="Responsive image">
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="card">
        <div class="card-header">
            Model Definition
        </div>
        <div class="card-body">
            <code>
                model = Sequential()<br><br>

                model.add(ConvLSTM2D(filters = 4, kernel_size = (3, 3), activation = 'tanh',data_format = "channels_last",
                recurrent_dropout=0.2, return_sequences=True, input_shape = (SEQUENCE_LENGTH,
                IMAGE_HEIGHT, IMAGE_WIDTH, 3)))<br>
                model.add(MaxPooling3D(pool_size=(1, 2, 2), padding='same', data_format='channels_last'))<br>
                model.add(TimeDistributed(Dropout(0.2)))<br><br>

                model.add(ConvLSTM2D(filters = 8, kernel_size = (3, 3), activation = 'tanh', data_format = "channels_last",
                recurrent_dropout=0.2, return_sequences=True))<br>
                model.add(MaxPooling3D(pool_size=(1, 2, 2), padding='same', data_format='channels_last'))
                model.add(TimeDistributed(Dropout(0.2)))<br><br>

                model.add(ConvLSTM2D(filters = 14, kernel_size = (3, 3), activation = 'tanh', data_format = "channels_last",
                recurrent_dropout=0.2, return_sequences=True))<br>
                model.add(MaxPooling3D(pool_size=(1, 2, 2), padding='same', data_format='channels_last'))<br>
                model.add(TimeDistributed(Dropout(0.2)))<br><br>

                model.add(ConvLSTM2D(filters = 16, kernel_size = (3, 3), activation = 'tanh', data_format = "channels_last",
                recurrent_dropout=0.2, return_sequences=True))<br>
                model.add(MaxPooling3D(pool_size=(1, 2, 2), padding='same', data_format='channels_last'))<br>
                model.add(TimeDistributed(Dropout(0.2)))<br><br>

                model.add(Flatten())<br><br>

                model.add(Dense(len(CLASSES_LIST), activation = "softmax")) <br>
            </code>
        </div>
    </div>
    <hr/>

</div>
</div>




{% endblock main %}